@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
.myContent {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-menu {
  color: green;
  size: 400px;
}
.nav-menu:hover {
  border-bottom: 1px solid #ff8653 !important;
  /* padding-bottom: 0; */
}
.contactNav:hover {
  border-bottom: 0 !important;
}

.btn-primary {
  background-color: #ff8653;
  border-color: transparent;
  border-radius: 20px;
  padding: 5px 20px;
}
.btn-primary:hover {
  background-color: #ffbe61;
  border-color: transparent;
  border-radius: 20px;
  padding: 5px 20px;
}

.nav-link {
  align-items: center;
  display: flex;
}

.sectionOne {
  margin-top: 25px;
  padding: 130px 20px;
  background-color: #11100f;
  /* background-image: url(./assets/bg-1.png); */
}

.contentLeft {
  color: white;
  margin-top: 25px;
}

.contentLeft .title {
  font-weight: bold;
  font-size: x-large;
}
.contentLeft .title span {
  color: #ff8653;
}

.contentLeft .subtitle {
  font-size: medium;
  color: grey;
}
.contentLeft hr {
  border-color: #ff8653;
  width: 20%;
  border-width: 3px;
}

.dwnCV {
  background-color: transparent;
}

.dwnCV:hover {
  background-color: transparent;
  border-color: #ffbe61;
  color: #ffbe61;
}

.sectionOne .foto {
  width: 250px;
}

.sectionOne .button a {
  text-decoration: none;
  color: white;
}
.sectionOne .sosmed {
  color: #ff8653;
}
.sectionOne .sosmed .btn {
  width: 40px;
  height: 40px;
}

.btn-secondary {
  border-radius: 100%;
  background-color: transparent;
  border-color: transparent;
}

.btn-secondary a {
  text-decoration: none;
  color: #ff8653;
}
.btn-secondary a:hover {
  text-decoration: none;
  color: #ffbe61;
}

.sectionTwo,
.sectionProject {
  background-color: #1a1919;
  padding: 110px 20px;
}

.sectionTwo .foto {
  width: 250px;
  margin: 10px 50px;
  justify-content: end;
}

.sectionTwo .divFoto {
  display: flex;
  justify-content: flex-end;
}
.sectionTwo .content {
  color: white;
  margin: 10px 50px;
}
.sectionTwo hr,
.sectionProject hr {
  border-color: #ff8653;
}
.sectionTwo .titletwo {
  font-size: large;
  font-weight: bold;
}
.sectionProject a {
  color: white;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 #fff;
  border-radius: 10px 10px 0 0;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  border-radius: 10px 10px 0 0;
}

.footer {
  background-color: #11100f;
  text-align: center;
  padding: 15px 0;
  font-size: x-small;
  color: white;
  margin: auto;
}
.footer p {
  margin-bottom: 0 !important;
}

.contact,
.sectionSkill {
  background-color: #11100f;
  padding: 90px;
}
.sectionSkill .subtitle {
  font-family: 'Baloo Tammudu 2', cursive;
  color: lightgray;
  margin: 10px auto;
  height: 15px;
}
.sectionSkill p {
  font-family: 'Baloo Tammudu 2', cursive;
  color: lightgray;
}
.sectionSkill .details:hover {
  border-bottom: 1px solid #ff8653;
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: white;
}
.sectionSkill hr {
  border-color: #ff8653;
  width: 40%;
  margin: 0 auto;
}
.sectionSkill button {
  border-radius: 0;
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.sectionSkill button {
  border-radius: 0;
  background-color: transparent;
  border-color: transparent;
  color: white;
}
.carousel-indicators li {
  border-radius: 100%;
  height: 7px;
  width: 7px;
}
/* .zoom {
  transition: transform0.2s;
}

.sectionSkill button:hover {
  transform: scale(1.5);
} */
.sectionTwo .title,
.contact .title,
.sectionSkill .title,
.sectionProject .title {
  color: white;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.contact .btn-secondary {
  border: 1px solid #ff8653;
  height: 50px;
  width: 50px;
}

.btn-secondary:hover {
  border: 1px solid #ffbe61;
  background-color: transparent;
}
.contact .iconsosmed {
  padding: 40px;
}

.contact .divIco {
  display: flex;
  justify-content: center;
}

.nav-tabs {
  justify-content: center;
}

.skillLogo img {
  width: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.sectionProject .fotoProject {
  padding: 30px;
}
.sectionProject .informasiProject {
  padding: 40px 30px;
}
.sectionProject .informasiProject h2 {
  font-size: large;
  color: white;
}
.sectionProject .informasiProject p {
  font-size: small;
  color: lightgray;
}
.sectionProject .informasiProject a {
  margin-left: 10px;
}
.sectionProject .fotoProject img {
  box-shadow: 3px 3px 5px grey;
}

.untukMob {
  display: none;
}

.untukWeb {
  display: block;
}

@media all and (max-width: 533px) {
  .nav-menu:hover {
    border-bottom: 0px solid transparent;
    padding-bottom: 8px;
  }

  .sectionOne,
  .sectionTwo,
  .sectionSkill {
    padding: 60px 20px;
  }
  .contentLeft .title {
    text-align: center;
  }

  .contentLeft .subtitle {
    text-align: center;
  }

  .sectionOne .button {
    text-align: center;
  }
  .sectionOne .sosmed {
    text-align: center;
    margin-bottom: 20px;
  }

  .sectionOne .foto {
    width: 150px;
    margin-top: 20px;
  }

  .sectionTwo .content {
    text-align: center;
    margin: 0;
  }

  .contact {
    /* padding-top: 130px !important; */
    padding: 10px 0;
  }

  .sectionOne .foto {
    display: none;
  }
  .containerSkill p {
    font-size: 14px;
  }

  .projectWeb .informasiProject h2,
  .projectWeb .informasiProject p,
  .projectMob .informasiProject h2,
  .projectMob .informasiProject p {
    text-align: center;
  }

  .contact {
    padding: 100px 0;
  }
  .untukMob {
    display: block;
  }
  .untukWeb {
    display: none;
  }
}
